
:root{

  /* Fonts */
  --rc-font-primary: sans-serif;
  --rc-font-secondary: auto;

  /* Font Sizes */
  --rc-font-size-h1: 3.125em;
  --rc-font-size-h2: 2.1875em;
  --rc-font-size-h3: 1.5625em;
  --rc-font-size-text: 1em;
  --rc-font-size-link: 1.25em;

  /* Spacings */
  --rc-gap-xl: 40px;
  --rc-gap-lg: 30px;
  --rc-gap-md: 20px;
  --rc-gap-sm: 10px;

  --rc-padding-xl: 60px;
  --rc-padding-lg: 30px;
  --rc-padding-md: 20px;
  --rc-padding-sm: 10px;

  --rc-margin-section: 130px;

  /* Borders */
  --rc-radius-md: 5px;
  --rc-radius-lg: 15px;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--rc-font-primary);
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;  
  gap: var(--rc-gap-lg);
}

a{
  background-color: #FFFFFF;
  padding: var(--rc-padding-md) var(--rc-padding-lg);
  border-radius: 50px;
  color: #000000;
  text-align: center;
}

h3{
  font-size: var(--rc-font-size-h3);
  font-weight: 500;
}


/* Header */

#header {
  justify-content: space-between;
  gap: var(--rc-gap-sm);
  padding: var(--rc-padding-sm) var(--rc-padding-lg);
}

nav{
  width: 80%;
}

#header ul{
  justify-content: start;
}

nav a{
  text-transform: uppercase;
  font-size: var(--rc-font-size-text);
  background: none;
  padding: 0;
}

.menu {
  display: none;
}

/* Title */

#title{
  background-image: url(img/Portada.jfif);
  background-size: cover;    
  background-position: center;
  background-repeat: no-repeat;
  padding: var(--rc-padding-xl) var(--rc-padding-lg);
  padding-bottom: 30%;
  color: white;
}

#title h1{
  font-size: var(--rc-font-size-h1);
  font-weight: normal;
  font-family: var(--rc-font-secondary);
}

#title p{
  font-size: var(--rc-font-size-text);
}

/* Cars */

#cars{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
  gap: var(--rc-gap-xl);
  margin: 30px;
}

#cars h3{
  margin-bottom: 15px;
}

.car{
  background-color: #D9D9D9;
  border-radius: 10px;
  padding: var(--rc-padding-lg);
  gap: var(--rc-gap-sm);
  justify-content: space-between;
}

.car > *{
  width: 100%;
}

.car > a{
  width: auto;
}

.car > form{
  width: auto;
  gap: var(--rc-gap-sm);
}

input[type="radio"] {
  display: none;
}

.radio-btn {  
  border-radius: 100%;
  cursor: pointer;
  margin: 5px;
  font-size: 16px;
}

label div{
  width: 40px;
  height: 40px;
  border: 3px solid white;
  border-radius: 100%;
  margin: 5px;
}

input[type="radio"]:checked + label.radio-btn {
  border: 1px solid #000000;
  box-shadow: 0px 0px 3px #000000;
}

/* Mercedes Dealer */

#mercedes-dealer{
  margin: 30px;
}

#mercedes-dealer h2{
  font-size: 5rem;
  font-weight: normal;
  font-family: var(--rc-font-secondary);
  width: 65%;
  margin-bottom: 30px;
}

#mercedes-dealer p{
  width: 35%;
  font-size: 1.5rem;
}

/* Store */

#store{
  background-image: url(img/fondo.png);
  background-size: cover;
  background-position: center;
  height: 800px;
  position: relative;
}

#store > div{
  background: #A2A2A282;
  margin-left: 70px;
  padding: var(--rc-padding-lg);
  padding-bottom: 45px;
  width: 32%;
  border-radius: 15px;
  position: absolute;
  top: 30%;
}

#store h2{
  margin-bottom: 30px;
  font-size: 50px;
  color: white;
  font-weight: normal;
}

/* News */

#news > div{
  justify-content: start;
  flex-wrap: nowrap;
  margin: 20px;
  gap: var(--rc-gap-xl);
}

.card{
  background-color: #D9D9D9;
  padding: var(--rc-padding-lg);
  min-width: 540px;
  flex-direction: column;
  align-items: start;
  border-radius: 10px;
}

.card img{
  width: 100%;
  height: 270px;
}

.slidebar{
  padding: 4px;
  background-color: #D9D9D9;
  border-radius: 50px;
}

.bar{
  padding: 5px;
  background-color: #949494;
  border-radius: 50px;
  width: 25%;
}

/* Car Red */
#car_red {
  background-image: url(img/Coche_casa.png);
  background-size: cover;
  background-position: center;
  height: 700px;
  color: white;
  position: relative;
}

#car_red > div{
  width: 40%;
  position: absolute;
  left: 12rem;
  bottom: 4.3rem;
}

#car_red h2{
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: normal;
}

#car_red p{
  width: 45%;
  font-size: 0.8rem;
}

/* Wheel Programme */

#wheel_programme{
  justify-content: space-between;
  margin: 50px;
}

#wheel_programme > *{
  width: 45%;
}

#wheel_programme > div{
  height: 100%;
  align-items: start;
  flex-direction: column;
}

#wheel_programme h2{
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: normal;
  padding: 0 var(--rc-padding-lg);
}

#wheel_programme p{
  width: 75%;
  font-size: 1rem;
  padding: 0 var(--rc-padding-lg);
}

/* Footer */

footer{
  background-color: #000000;
  color: #FFFFFF;
  width: 100%;
}

#contact{
  margin-bottom: 50px; 
  background-color: #404243;
  padding: var(--rc-padding-lg);
  justify-content: space-evenly;
}

#contact p{
  width: 45%;
  font-size: 1rem;
}

#footer{
  flex-direction: column;
  gap: 50px;
}

#footer a{
  background: none;
  color: #FFFFFF;
  padding: 0;
}

#newsletter{
  flex-direction: column;
}

#sub{
  border: 1px solid #FFFFFF;
  border-radius: 50px;
  display: flex;
  margin: 25px 0;
}

#sub > input{
  width: 100%;
  text-align: center;
  background: none;
  border: 0;
  color: #FFFFFF;
}

#sub > input:focus{
  border-radius: 50px;
}

button{
  background-color: #FFFFFF;
  padding: var(--rc-padding-md) var(--rc-padding-lg);
  border-radius: 50px;
  color: #000000;
  text-align: center;
  border: 0;
}

input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

input[type="checkbox"]:checked + .custom-checkbox::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

label > a{
  text-decoration: underline;
}

#f_menu{
  width: 100%;
  justify-content: space-between;
  padding: 50px 15%;
  align-items: start;
}

#f_menu > div{
  width: 20%;
  flex-direction: column;
  gap: 0;
  align-items: start;
  justify-content: start;
}

#f_menu p{
  padding-bottom: 15px;
}

#f_menu a{
  color: #FFFFFF60;
}

#scroll_button{
  width: 100%;
  text-align: end;
  padding: 1.5rem;
}
#scroll_button > a{
  background: none;
  padding: 0;
}
